* {
  list-style: none !important;
  text-decoration: none !important;
}

.sec2 {
  padding: 4rem 0 8rem 0;
}

#ticket {
  right: 0;
  bottom: 0;
  margin-right: -18%;
  margin-bottom: 13%;
}

#yellow {
  left: 0;
  bottom: 0;
  margin-left: -20%;
  margin-bottom: 20%;
}

#hfe {
  left: 0;
  top: 0;
  margin-left: -11%;
  margin-top: 11%;
}

#rightH {
  right: 0;
  top: 0;
  margin-top: 35%;
  margin-right: -25%;
}

.section {
  background-size: auto 100%;
  background-repeat: repeat-x;
  background-position: center;
}

.sec1 {
  background-image: url("../img/bg/bg_01.jpg");
  max-height: 1058px;
  background-size: cover;
}

.sec2 {
  background-color: #fde8ff;
}

.sec3 {
  background-image: url("../img/bg/bg_03.gif");
}

#hands_review {
  top: 3%;
}

.cB1, .cB2 {
  padding: 0;
}

.coupon {
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.couponImg1 {
  background-image: url("../img/money.png");
  height: 0;
  padding-bottom: 33%;
  max-width: 100%;
}

.couponImg2 {
  background-image: url("../img/coupon.png");
  height: 0;
  padding-bottom: 21%;
  max-width: 100%;
}

.sec2 .coupon_text {
  white-space: nowrap;
}

.sec2 .coupon_text p {
  margin: 0;
}

.ct1, .ct2 {
  background-color: white;
  border-radius: 50px;
  border: 2px solid black;
  width: 100%;
  height: 100%;
  position: relative;
  justify-content: space-evenly;
}

.cB1:before,
.cB2:before {
  content: "";
  width: calc(100% - 4rem);
  height: calc(100% - 4rem);
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid black;
  border-radius: 50px;
  transform: translate(11%, 22%);
}

.cB1:before {
  background-color: #ff00bb;
}

.cB2:before {
  background-color: #00aff1;
}

.swiper-slide {
  background-color: #fff0 !important;
}

.sec2:after {
  content: '';
  background-image: url(/boot3/public/img/two_star.png);
  width: 10%;
  max-width: 182px;
  background-size: 100% auto;
  transform: rotate(-90deg) translate(51%, 237%);
  left: 50%;
  top: 0;
  position: absolute;
  height: 0;
  padding-bottom: 10%;
  background-repeat: no-repeat;
}

.couponBox {
  padding: 2rem;
}

.footer {
  transform: translateY(-20%);
}

.minibox {
  padding: 15%;
}

.miniboxImg {
  width: 100%;
  height: 0;
  padding-bottom: calc(405 / 555 * 100%);
}

.miniboxImg1 {
  background: url("/boot3/public/img/sec3_image.png") no-repeat;
  background-size: auto 100%;
}

.miniboxImg2 {
  background: url("/boot3/public/img/sec3_image2.png") no-repeat;
  background-size: auto 100%;
}

.buble {
  right: 0;
  top: 0;
  transform: translateY(12%);
}

.bubleImg {
  background: url("/boot3/public/img/pink.btn.png") no-repeat;
  background-size: 100%;
  width: 100%;
  height: 0;
  max-width: 150px;
  padding-bottom: calc(175 / 171 * 100%);
}

.bubleImg p {
  top: 50%;
  margin: 0;
  margin-top: 50%;
  transform: translateY(-55%);
}

.sec3 .sec3_room {
  border: 1px solid black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #ec89f6;
  line-height: 1rem;
  padding: 8% 0;
  cursor: pointer;
}

.sec3ul .tab {
  background: white;
  border: 1px solid black;
  border-top: none;
  width: 200%;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 10px 10px;
  z-index: 10;
  margin-top: -2px;
  display: none;
}

.sec3_room {
  text-align: center;
}

.sec3_room.room1 {
  width: 99%;
  box-shadow: 5px 5px;
}

.sec3_room.room2 {
  width: 100%;
}

.deluxe {
  transform: translateX(-30px);
}

.deluxe .tab {
  transform: translateX(-50%);
}

.deluxe::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 50%;
  background: black;
  right: 5px;
  top: 10px;
  border-radius: 10px;
}

.sec3ul > li .sec3_room a {
  color: white !important;
}

.sec3ul > li.on .sec3_room a {
  color: black !important;
}

.sec3ul > li.on .sec3_room {
  background-color: white;
}

.sec3ul > li.on .tab {
  display: flex;
}

.star2 {
  transform: translate(10%, -44%);
  display: none;
}

.sec3ul > li.on .star2 {
  display: flex;
  z-index: 1;
}

.star2 .starImg {
  background-image: url("/boot3/public/img/two_star.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  width: 100%;
  height: 0;
  padding-bottom: calc(80 / 150 * 100%);
}

.ArrowImg {
  background-image: url("/boot3/public/img/right_arrow.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 0;
  padding-bottom: calc(27 / 206 * 100%);
}

.TextBox span {
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.eventBtn {
  background-color: #e715ff;
  border-radius: 55px;
  height: 50px;
  align-items: center;
  width: 200px;
  border: 2px solid black;
}

.pink_heart {
  background-image: url("/boot3/public/img/pink_heart.png");
  background-position: center top;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-bottom: calc(466 / 1792 * 100%);
}

@media (max-width: 767px) {
  .TextBox .won {
    justify-content: center;
    text-align: center;
  }
  .Arrow {
    justify-content: center !important;
  }
  .eventBtn {
    margin-bottom: 0.5rem !important;
    margin-top: 0.5rem !important;
  }
  .TextBox span {
    padding: 0;
  }
  .sec3ul {
    padding: 0;
  }
  .pink_heart {
    height: auto;
    padding-bottom: 0;
  }
  .pink_heart .tab {
    width: auto;
    display: block !important;
  }
  .deluxe .tab {
    transform: none;
  }
  .deluxe {
    transform: translateY(5%);
  }
  .footer {
    transform: translateY(-8%);
  }
  .sec3_room.room1 {
    width: 100%;
    box-shadow: 10px 10px;
  }
  .sec3ul > li .sec3_room {
    background-color: white;
  }
  .sec3ul > li .tab {
    display: flex;
  }
  .sec3ul > li .star2 {
    display: flex;
    z-index: 1;
  }
  .tab .minibox {
    padding: 0;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 15%;
    padding-right: 15%;
  }
  .sec3ul > li .sec3_room a {
    color: black !important;
  }
  .couponBox {
    padding: 2rem;
  }
}
